<div>
    <p><bold>Title</bold>{{  section.settings.slide_title  }}</p>
    <p><bold>Subtitle</bold>{{  section.settings.slide_subtitle  }}</p>
    <p><bold>URL</bold>{{  section.settings.url  }}</p>
    <!--<img src="{{ section.settings.slide_image }}" alt="" srcset="">-->
</div>